---
// Main page
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="venykrid.com">
  <h1>Hello, World!</h1>
  <p>
    I'm a Freshman Computer Science student with a focus on security and
    reliability using modern standards and attention to detail.
  </p>
</BaseLayout>
