---
// Main page
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="venykrid.com">
  <h1>Hello, World!</h1>
  <p>someday this will be cool i hope</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
    enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna
    accessio potest, si aliquod aeternum et infinitum impendere malum nobis
    opinemur. Quod idem. Magnitudinem celeritas, diuturnitatem allevatio
    consoletur. Ad ea cum accedit, ut neque divinum numen horreat nec
    praeteritas voluptates effluere patiatur earumque assidua recordatione
    laetetur, quid est, cur nostri a nostris non legantur? Quamquam, si plane
    sic verterem Platonem aut. Materia sit, ex qua quaeque res efficiatur,
    alterum, quae vis sit, quae quidque efficiat, de materia disseruerunt, vim
    et causam efficiendi reliquerunt. Sed hoc commune vitium, illae Epicuri
    propriae ruinae: censet enim eadem illa atomorum, in quo admirer, cur in
    gravissimis rebus non delectet eos sermo patrius, cum idem fabellas Latinas
    ad verbum e Graecis expressas non inviti legant. Quis enim tam inimicus
    paene nomini Romano est.
  </p>
</BaseLayout>
