---
// Basic base layout
import "../styles/global.css";
const { title, coverViewport } = Astro.props;
const viewportString = coverViewport
  ? "width=device-width, initial-scale=1, viewport-fit=cover"
  : "width=device-width, initial-scale=1";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content={viewportString} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <footer class="content-wrapper">
      <p>
        <a href="https://github.com/venykrid/venykriddotcom/">Source code proudly available</a> under the <a
          href="https://github.com/venykrid/venykriddotcom/blob/main/LICENSE">
          GPLv3 license
        </a>. Content and documentation licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">
          CC BY-SA 4.0
        </a>.
      </p>
    </footer>
  </body>
</html>
