---
// Basic base layout
import "../styles/global.css";
const { title, coverViewport } = Astro.props;
const viewportString = coverViewport
  ? "width=device-width, initial-scale=1, viewport-fit=cover"
  : "width=device-width, initial-scale=1";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content={viewportString} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
