---
// Docs Layout
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import ColoredLogo from "../images/logos/logo-x128.webp";
import Logo from "../images/logos/logo-flatcomp.astro";
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
---

<BaseLayout title={title}>
  <Navbar />
  <div class="content-wrapper"> 
    <p><h1>{title}</h1></p>
    <slot />
  </div>
</BaseLayout>